<div class="main-container">
  <app-admin-nav-bar></app-admin-nav-bar>
  <div id="content-wrapper" class="d-flex flex-column content-container">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <h2 class="mb-4">Show Announcement</h2>
          </div>
        </form>
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <div class="topbar-divider d-none d-sm-block"></div>
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
              <img class="img-profile rounded-circle" src="assets/img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>

       <!-- Radio Buttons for Filtering -->
      <div class="filter-options">
        <label><input type="radio" name="transactionType" value="all" (change)="filterAnnonces('all')" [checked]="selectedFilter === 'all'"> All</label>
        <label><input type="radio" name="transactionType" value="a vendre" (change)="filterAnnonces('a vendre')" [checked]="selectedFilter === 'a vendre'"> For Sale</label>
        <label><input type="radio" name="transactionType" value="a louer" (change)="filterAnnonces('a louer')" [checked]="selectedFilter === 'a louer'"> For Rent</label>
      </div>

         <!-- Search Bar -->
         <div class="search-bar">
          <input type="text" placeholder="Rechercher..." [(ngModel)]="searchQuery" (input)="searchAnnonces()">
        </div>

      <div class="card-row">
        <div class="card" *ngFor="let annonce of paginatedAnnonces">
          <div class="image_container">
          <!--  <img [src]="annonce.photos" alt="Image de l'annonce" class="image" style="width:100%;"> -->
            <img *ngIf="annonce.photos && annonce.photos.length > 0" [src]="transformPath(annonce.photos[0])" alt="First photo" class="image" style="width:100%;">>

          </div>
          <div class="title">
            <span> {{ annonce.titre }}</span>
          </div>
          <div class="size">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
              </svg>
              <span> {{ annonce.adresse }}</span>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
              </svg>
              <span> {{ annonce.type }}</span>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707m0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707"/>
              </svg>
              <span> {{ annonce.surface }}</span>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a2.573 2.573 0 0 0-.453-.618A6 6 0 0 1 2 6M5.05 15h5.9a1 1 0 0 1 .978 1.2l-.024.11a1.5 1.5 0 0 1-1.447 1.19h-4.914a1.5 1.5 0 0 1-1.447-1.19l-.024-.11a1 1 0 0 1 .978-1.2"/>
              </svg>
              <span> {{ annonce.disponibilite }}</span>
            </div>
          </div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-rolodex" viewBox="0 0 16 16">
              <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
              <path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1z"/>
            </svg>
            <span> {{ annonce.coordonnes }}</span>
          </div>
          <div class="action">
            <div class="price">
              <span>TND{{ annonce.prix }}</span>
            </div>
  
            <button class="cart-button" data-toggle="modal" data-target="#updateModal"
            (click)="gatdata(annonce.titre,annonce.adresse,annonce.type,annonce.surface,annonce.disponibilite,annonce.coordonnes,annonce.prix,annonce.photos,annonce._id)">
              <svg class="cart-icon" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 4v7.5m0 0L8.5 9m3.5 2.5L15.5 9m1.5 7.5a5.5 5.5 0 1 0-5.5-5.5 5.5 5.5 0 0 0 5.5 5.5zM12 16l-2 2m0 0l2 2m-2-2h7" stroke-linejoin="round" stroke-linecap="round"></path>
              </svg>
              <span>Update</span>
            </button>
            <button class="cart-button" (click)="delete(annonce._id)">
              <svg class="cart-icon" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none">
                <path d="M6 6l12 12M6 18L18 6" stroke-linejoin="round" stroke-linecap="round"/>
              </svg>
              <span >Delete</span>
            </button>
          </div>
        </div>
      </div>

  <!-- Pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination pagination-lg">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" href="#" (click)="changePage(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
        <a class="page-link" href="#" (click)="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" href="#" (click)="changePage(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
    </nav>


    </div>
  </div>
</div>


<!-- UPDATE Modal-->
<div class="modal fade" id="updateModal">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"> Update Announcement</h4>
        <button type="button" class="close" data-dismiss="modal">x</button>
      </div>

      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="update(f)">
          <div class="form-group">
            <label for="name">Titre</label><br />
            <input id="titre" type="text" class="form-control" required name="titre" #titre="ngModel" [(ngModel)]="dataAnnonce.titre" /><br />
          </div>
        
          <div class="form-group">
            <label for="description">Adresse</label><br />
            <input id="adresse" type="text" class="form-control" required name="adresse" #adresse="ngModel" [(ngModel)]="dataAnnonce.adresse" /><br />
          </div>
        
          <div class="form-group">
            <label for="description">Type</label><br />
            <input id="type" type="text" class="form-control" required name="type" #type="ngModel" [(ngModel)]="dataAnnonce.type" /><br />
          </div>
        
          <div class="form-group">
            <label for="description">Surface</label><br />
            <input id="surface" type="text" class="form-control" required name="surface" #surface="ngModel" [(ngModel)]="dataAnnonce.surface" /><br />
          </div>
        
          <div class="form-group">
            <label for="description">Disponibilité</label><br />
            <input id="disponibilite" type="text" class="form-control" required name="disponibilite" #disponibilite="ngModel" [(ngModel)]="dataAnnonce.disponibilite" /><br />
          </div>
        
          <div class="form-group">
            <label for="description">Coordonnées</label><br />
            <input id="coordonnes" type="text" class="form-control" required name="coordonnes" #coordonnes="ngModel" [(ngModel)]="dataAnnonce.coordonnes" /><br />
          </div>
        
          <div class="form-group">
            <label for="description">Prix</label><br />
            <input id="prix" type="text" class="form-control" required name="prix" #prix="ngModel" [(ngModel)]="dataAnnonce.prix" /><br />
          </div>
        
          <div class="mb-6 pt-4">
            <label class="formbold-form-label formbold-form-label-2">Upload File</label>
            <div class="formbold-mb-5 formbold-file-input">
              <input type="file" name="photos" id="photos" (change)="onFileChange($event)" multiple />
              <label for="photos">
                <div>
                  <span class="formbold-drop-file">Drop files here</span>
                </div>
              </label>
            </div>
            <!-- Displaying selected images -->
            <div class="image-preview" *ngIf="selectedFiles.length > 0">
              <div *ngFor="let file of selectedFiles">
                <img [src]="file.dataUrl" alt="Selected Image" class="img-thumbnail" />
              </div>
            </div>
          </div>
        
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Update</button>
          </div>
        </form>
        
       
       
       
      </div>

      
    </div>


  </div>

</div>

