<div>
   

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-white ftco-navbar-light site-navbar-target"
        id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">RealityShowcase</a>
            <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse"
                data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link"><span>{{'Home' | translate}}</span></a></li>
                    <li class="nav-item"><a href="contact" class="nav-link"><span>{{'Contact' | translate}}</span></a></li>
                    <li class="nav-item"><a href="signin" class="nav-link"><span>{{'Sign In' | translate}}</span></a></li>
                   <li class="nav-item"><a href="priceEstimator" class="nav-link"><span>{{'Price Estimation' | translate}}</span></a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="projectsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{'Our Projects' | translate }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="projectsDropdown">
                            <a class="dropdown-item" href="avendre">For Sale</a>
                            <a class="dropdown-item" href="alouer">For Rent</a>
                        </div>
                    </li>
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <select class="form-select" (change)="ChangeLang($event)" name="" id="">
                                <option [selected]="lang=='en'" value="en"> English</option>
                                <option [selected]="lang=='fr'" value="fr"> Français</option>
                            </select>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
</div>